<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">  
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/sign_in.css">
        <link rel="stylesheet" href="/css/post-form.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    </head>
    <body>
        <%- include ('_header'); %>
        <%- body %>
        <%- include ('_footer'); %>


    </body>

    
</html>