<html>
    <head>

    </head>
    <!-- <link rel="stylesheet" href="/css/home.css"> -->

    <body>

        <div class="container">

        <div class="form-container" id="signup-form">
            <h2>Sign Up</h2>
            <form action="create" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="password">Confirm-Password:</label>
                    <input type="password" id="password" name="confirm_password" required>
                </div>
                <button type="submit">Sign Up</button>
            </form>
            <div class="separator">or</div>
            <p>Already have an account?   <a href="/users/sign-in">Sign In</a>

        </div>
        </div>

        <!-- <h1>Sign Up</h1>
        <form action="create" method="POST">
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm-Password" required>
           <input type="submit" value="Sign Up" >

        </form> -->

        <script>
            function showSignupForm() {
                document.getElementById('signin-form').style.display = 'none';
                document.getElementById('signup-form').style.display = 'block';
            }
    
            function showSigninForm() {
                document.getElementById('signup-form').style.display = 'none';
                document.getElementById('signin-form').style.display = 'block';
            }
        </script>

    </body>
</html>